<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
	  internalLogFile="C:\log\internal-java-service-wrapper.log">
	<variable name="logDirectory" value="C:/log"/>
	<targets>
		<target
		  xsi:type="Console"
		  name="console"
		  layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
		<target 
			xsi:type="File"
			name="file"
			layout="${date:format=dd/MM/yyyy HH\:mm\:ss.fff}|${level}|${stacktrace}|${message}" 
			fileName="${logDirectory}/java-service-wrapper.log" />
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="console" />
		<logger name="*" minlevel="Debug" writeTo="file" />
	</rules>
</nlog>